---
import { books } from '../data/books.js'
import LayoutCatalogo from '../layouts/LayoutCatalogo.astro'
import ObtenerComponenteJsx from '../components/book/ObtenerComponenteJsx.astro'
import BtnEstrellas from '../components/botones-sliders/BtnEstrellas.astro'

const { book } = Astro.params
console.log(book)
const bookData = books.find((b) => b.id === book)
if (!bookData) {
	return Astro.redirect('/404')
}

// ESTA FUNCION DE GetStaticPaths() ES NECESARIA PARA HACER EL BUILD
// ========================================================================
// export function getStaticPaths() {
//     return [
//         {params: {book: "B1Cerrada"}},
//         {params: {book: "BandejaAacotada"}},
//         {params: {book: "EstucheConAsas"}},
//         {params: {book: "ExpositorDM"}},
//         {params: {book: "troquel1g0011"}},
//     ]
// }

//ESTA FUNCION NO SE SI FUNCIONA... SI NO, USA LA DE ARRIBA QUE ESTA COMENTADA
export function getStaticPaths() {
	return books.map((book) => ({
		params: {
			book: book.id,
		},
	}))
}
---

<LayoutCatalogo title={bookData.id}>
	<main class='three-fondo bg-[#202020]'>
		<a
			id='anchor'
			href='/catalogo'
			class='[grid-area:aside]'
		>
			<BtnEstrellas />
		</a>

		<div class='[grid-area:main1]'>
			<h1 class='bordeRojo'>{bookData.title}</h1>
			<p class='bordeRojo'>{bookData.opinion}</p>
		</div>

		<div
			class='bordeRojo [grid-area:footer1] flex flex-row place-content-between'
		>
			<div class='rounded-2xl'>
				<img
					class='w-1/2 h-full object-cover'
					src={bookData.img}
					alt=''
				/>
			</div>

			<div class='aspect-square bordeRojo'>
				<div class='w-1/2 h-full flex flex-col items-center'>
					<span
						class='click items-center text-white py-2 px-4 rounded-lg font-bold'
					>
						Haz click sobre el 3D y gíralo
					</span>
					<ObtenerComponenteJsx componente_jsx={bookData.three} />
				</div>
			</div>
		</div>
	</main>
</LayoutCatalogo>

<style>
	:global(.light) .three-fondo {
		background-color: #fff;
	}
	:global(.light) .click {
		color: black;
	}
	.three-fondo {
		display: grid;
		grid-template-areas:
			'aside aside'
			'main1 main1'
			'footer1 footer1';
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto 1fr;
	}
</style>
