---
import { books } from '../data/books.js'
import Layout from '../layouts/Layout.astro'
import ObtenerComponenteJsx from '../components/book/ObtenerComponenteJsx.astro'
import BtnEstrellas from '../components/botones-sliders/BtnEstrellas.astro'

const { book } = Astro.params
const bookData = books.find((b) => b.id === book)
if (!bookData) {
	return Astro.redirect('/404')
}

// ESTA FUNCION DE GetStaticPaths() ES NECESARIA PARA HACER EL BUILD
// ========================================================================
// export function getStaticPaths() {
//     return [
//         {params: {book: "B1Cerrada"}},
//         {params: {book: "BandejaAacotada"}},
//         {params: {book: "EstucheConAsas"}},
//         {params: {book: "ExpositorDM"}},
//         {params: {book: "troquel1g0011"}},
//     ]
// }

//ESTA FUNCION NO SE SI FUNCIONA... SI NO, USA LA DE ARRIBA QUE ESTA COMENTADA
export function getStaticPaths() {
	return books.map((book) => ({
		params: {
			book: book.id,
		},
	}))
}
---

<Layout title={bookData.id}>
	<main
		class='three-fondo bg-[#202020] flex flex-col h-screen justify-center items-center relative'
	>
		<a
			id='anchor'
			href='/catalogo'
			class='flex flex-row mb-4 absolute top-8 left-8'
		>
			<BtnEstrellas />
		</a>

		<div class='mb-24 text-2xl w-1/3'>
			<h1 class='mb-4'>{bookData.title}</h1>
			<p class='text-lg'>{bookData.opinion}</p>
		</div>

		<div class='flex flex-col w-2/3 md:flex-row justify-center content-between'>
			<div class='mr-8 aspect-square rounded-2xl'>
				<img
					class='w-full h-full object-cover'
					src={bookData.img}
					alt=''
				/>
			</div>

			<div class='aspect-square'>
				<div class='w-full h-full flex flex-col items-center'>
					<span
						class='click items-center text-white py-2 px-4 rounded-lg font-bold'
					>
						Haz click sobre el 3D y gíralo
					</span>
					<ObtenerComponenteJsx componente_jsx={bookData.three} />
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	:global(.light) .three-fondo {
		background-color: #fff;
	}
	:global(.light) .click {
		color: black;
	}
</style>

<script>
	//COMPROBAMOS SI HAY YA UN TEMA GUARDADO EN LOCALSTORAGE, SI NO HAY, COMPROBAMOS SI EL SISTEMA OPERATIVO TIENE EL TEMA OSCURO ACTIVADO, SI NO, PONEMOS EL TEMA CLARO
	const theme = (() => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme')
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark'
		}
		return 'light'
	})()

	//SI EL TEMA ES OSCURO, QUITAMOS LA CLASE LIGHT DEL HTML, SI NO, LA AÑADIMOS
	if (theme === 'dark') {
		document.documentElement.classList.remove('light')
	} else {
		document.documentElement.classList.add('light')
	}
</script>
